@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
$main-color: #F34A53;
$grey-color: #333333;

* {
	margin: 0;
	padding: 0;
}

body {
    margin: auto;
    font-family: 'Poppins';
    font-size: 0.65em;
    overflow-x: hidden;
    position: relative;
}

.container {
    width: 100%;
    padding: 0;
}

/* ---NAVBAR--- */

.my-navbar {
    background: rgba(255, 255, 255, 0.836);
    border: none;

    .my-buttons {
        width: 30%;
        padding: 12px 0;

        .my-btn {
            display: inline;
            padding-left: 10px;
        }

        i {
            display: inline-block;
            font-size: 1em;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            background-color: white;
            line-height: 27px;
            text-align: center;
            transition: color 0.3s, transform 0.3s;
            color: $grey-color;

            &:hover {
                cursor: pointer;
                color: #fff;
                transform: scale(1.2);
                background-color: $main-color; 
            } 
        }
    }

    .my-link {
        padding-right: 10px;

        a {
            font-size: 2.3em;

            &:hover {
                font-weight: 500;
                transform: scale(1.1);
            }
        }
    }
}

/* ---SECTION--- */

.section {
    width: 75%;
    margin: auto;
    padding-top: 50px;
    line-height: 5em;

    .line {
        background: $main-color;
        border: 1px solid $main-color;
        border-radius: 20%;
        width: 6%;
        height: 5px;
        margin: 12px auto;
    }

    h1, h2 {
        text-align: center;
    }

    h2 {
        padding: 20px;
        font-size: 6em;
    }

    p {
        font-size: 2.5em;
        text-align: justify;
    }
}

/* ---SECTION-1--- */

.section-1 {
    height: 100vh;

    h1 {
        padding-top: 17%;
        font-size: 8em; //6rem
    }

    h2 {
        font-size: 3em;
        padding: 0;
        margin: 10px;
        span {
            color: $main-color;
        }
    }
}

/* ---SECTION-2--- */

.section-2 {

    a {
        font-weight: 500;
        color: #000;
        text-decoration: underline;
    }
}

/* ---SECTION-3--- */

.section-3 {

    div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .image-container {

            .image {
                position: absolute;
                width: 300px;
                height: 200px;
                z-index: -2;
            }

            .pic-on {
                width: 65%;
                display: none;
                color: #fff;
                text-align: center;

                h3 {
                    text-transform: uppercase;
                    font-size: 3em;
                    text-align: center;
                    color: $main-color;
                    margin-bottom: 0;
                }
                
                p {
                    font-size: 2em;
                    line-height: 1.5em;
                    margin: 0;
                }

                i {
                    border-radius: 25%;
                    margin-top: 50px;
                    border: 4px solid #fff;
                    color: #fff;
                    display: inline-block;

                    &:hover {
                            color: $main-color;
                            border-color: $main-color;
                    }
                }

                .fa {
                    font-size: 28px;
                    text-align: center;
                    line-height:  28px;
                    padding: 7px;
                    margin: auto;
                    margin-top: 0;
                }
            }
    
            background-position: 100% 0;
	        background-size: 300%;
            background-image: linear-gradient(135deg, rgba(19, 19, 19, 0.918) 50%, transparent 50%);
            transition: background 0.4s;
            width: 300px;
            height: 200px;
            position: relative;
            margin: 10px;

            &:hover {
                cursor: pointer;
                background-position: 0 100%;

                .pic-on {
                    display: flex;
                }
            }
        }
    }
}

/* ---SECTION-4--- */

.section-4 {

    a {
        font-style: italic;
        color: $grey-color;
    }

    span {
        font-size: 1.2em;
        font-weight: 600;
    }
}

/* ---SECTION-5--- */

.section-5 {

    padding-bottom: 50px;

    .contact-columns {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        h3 {
            text-align: center;
        }
    }
    
    .my-btn-container {
        padding-left: 80px;
    }

    .my-btn {
        display: block;
        text-align: left;
        
        i {
            padding: 0 10px;
            font-size: 3em;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: white;
            margin: 3px 10px 2px 0;
            line-height: 50px;
            text-align: center;
            transition: color 0.3s, transform 0.3s;
            color: $grey-color;
        }

        span {
            font-size: 2.2em;

            a {
                color: $grey-color;
            }
        }

        &:hover {
            cursor: pointer;
            i {
                color: #fff;
                transform: scale(1.2);
                background-color: $main-color;
            } 
        } 
    }  
}

/* ---FOOTER--- */

footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 2em;
    color: white;
    text-align: center;
    background-color: $main-color;
    margin: 0;

    p {
        margin: 0;
    }
}

/* ---SQUARES--- */

#square1 {
	background-color: $main-color;
    transform: rotate( 45deg );
    position: absolute;
    top: 13%;
    right: -33%;
    z-index: -5;
    width: 600px;
    height: 600px;
}

#square2 {
	background-color: $main-color;
    transform: rotate( 45deg );
    position: absolute;
    top: 55%;
    left: -36%;
    z-index: -5;
    width: 600px;
    height: 600px;
}

/* ---MEDIA--- */

@media (max-width: 1200px) {

    .section-5 {
        .my-btn-container {
            padding-left: 0;
        }
    }
}

@media (max-width: 992px) {
    #square1 {
        top: 12%;
        right: -60%;
    }

    #square2 {
        top: 60%;
        left: -60%;
    }
}

@media only screen and (max-device-width: 768px) {
#square1 {
    display: none;
}
}

@media (max-width: 768px) {

    #square1 {
        top: 5%;
        right: -90%;
    }

    #square2 {
        top: 60%;
        left: -90%;
    }

    .section {
        padding-top: 70px;
    
        .line {
            width: 13%;
        }
    }

    .my-navbar {
        .navbar-collapse ul {
            display: flex;
            justify-content: space-around;    
        }
    }
}

@media (max-width: 576px) {

    #square1 {
        top: 5%;
        right: -110%;
    }

    #square2 {
        top: 55%;
        left: -110%;
    }

    .my-navbar {
        .navbar-collapse ul a {
            padding: 2px;
        }
    }

    .section {
        width: 85%;
        line-height: 4em;
    }

    .section-5 {

        .my-btn i {
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }     
}
